:root {
	background-color: lightgrey;
}

h1 {
	color: #656262;
	font-size: 42px;
}
h2, h3, h4 {
	color: white;
	font-family: Helvetica;
}
h2 {
	font-size: 40px;
}
button {
	border: none;
	font-size: 35px;
	color: white;
	background-color: black;
}
button:hover {
	color: grey;
}

button:focus {
	outline: none;
}
.container {
	width: 500px;
	height: 450px;
	margin: auto;
	display: grid;
	grid-template-rows: 20% 25% 55%;
	grid-gap: 12px;
	border: none;
}
.header {
	margin: auto;
	font-family: Helvetica;
	border: none;
}
.settings {
	background-color: black;
	display: grid;
	grid-template-rows: 50% 50%;
	grid-gap: 3px;
}
.clock {
	background-color: black;
	display: grid;
	grid-template-rows: 20% 15% 35% 30%
}

.settingsHeader {
	display: grid;
	grid-template-columns: 50% 50%
}
.settingsControls {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	position: relative;
	bottom: 10px;
}
.topActions, .bottomActions {
	display: grid;
	grid-template-columns: 50% 50%
}
.timeHeader {
	position: relative;
	bottom: 15px;
}
.timeHeader, .timer,  #session, #break, #controller, #play, #refresh, #pause, #stop {
	margin: auto;
}

