:root {
	background-color: lightgrey;
}

div {
	border-radius: 5px;
}

h1 {
	color: #656262;
	font-size: 42px;
}
h2, h4 {
	font-weight: bolder;
	font-size: 22px;
	color: white;
	font-family: 'Orbitron', sans-serif;
}

p {
	font-size: 20px;
	font-weight: bolder;
	color: white;
	font-family: 'Orbitron', sans-serif;
}

h2 {
	font-size: 40px;
}
button {
	border: none;
	font-size: 45px;
	font-weight: bolder;
	color: white;
	background-color: black;
	cursor: pointer;
}
button:hover {
	color: grey;
}

button:focus {
	outline: none;
}
.container {
	width: 500px;
	height: 450px;
	margin: auto;
	display: grid;
	grid-template-rows: 20% 25% 55%;
	grid-gap: 12px;
	border: none;
}
.header {
	margin: auto;
	font-family: 'Orbitron', sans-serif;
	border: none;
}
.settings {
	background-color: black;
	display: grid;
	grid-template-rows: 50% 50%;
	grid-gap: 3px;
}
.clock {
	background-color: black;
	display: grid;
	grid-template-rows: 20% 15% 35% 30%
}

.settingsHeader {
	display: grid;
	grid-template-columns: 50% 50%
}
.settingsControls {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	position: relative;
	bottom: 19px;
}
.topActions, .bottomActions {
	display: grid;
	grid-template-columns: 50% 50%
}
.timeHeader {
	position: relative;
	bottom: 15px;
}
.timeHeader, .timer,  #session, #break, .controller, #play, #refresh, #pause, #stop {
	margin: auto;
}
#pauseTimer, #breakSetting, #sessionSetting {
	font-size: 27px;
	font-weight: bold;
}

#refreshTimer {
	position: relative;
	top: 5px;
}

#timerIndicator {
	font-size: 25px;
	font-weight: bolder;
	color: white;
	font-family: 'Orbitron', sans-serif;
}

#runningTimer {
	font-size: 60px;
	font-weight: bolder;
	color: white;
	font-family: 'Orbitron', sans-serif;
	position: relative;
	bottom: 45px;
}